body{
    background-image: url('Marble03_COL_6K.jpg');

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;  
    font-size: 24;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 48px 0;
    color: #00000079;
}
.btn-container{
    display: flex; 
}

.btn{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.219);
    color: #6d6d6d;
    height: 80px;
    width: 160px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms;
    font-size: 20px;

    box-shadow: 7px 7px 15px #5453572c, -4px -4px 13px rgba(255, 255, 255, 0.767),
        inset 4px 4px 4px rgba(219, 219, 219, 0.2),
        inset -8px -8px 8px rgba(255, 255, 255, 0.1);


}

.btn:hover i {
    transform: scale(0.96)
}

.btn:hover{
    box-shadow: 4px 2px 18px #52515511, -4px -4px 13px rgba(255, 255, 255, 0.089),
        inset 6px 6px 16px rgba(194, 194, 194, 0.8),
        inset -8px -8px 8px rgba(255, 255, 255, 0.3);

    transform: translateY(2px);
}